/lib/classes

/lib/*.jar

/demo/classes

/demo/*.jar

/classes

/*.jar
/docs
/algart-docs.zip
/algart.zip
/algart2003/docs
/algart-old-packages-legacy/classes
/algart-old-packages-legacy/src/algart/lib/legacy/*.aqs
*.class
