/.idea/workspace.xml
/target
/legacy/algart2003/docs
/legacy/algart-old-packages-legacy/classes
/legacy/algart-old-packages-legacy/src/algart/lib/legacy/*.aqs
/legacy/algart-old-packages-legacy/classes
*.class
