/.idea/workspace.xml
/target
/docs
/additional/legacy/algart2003/docs
/additional/legacy/algart-old-packages-legacy/classes
/additional/legacy/algart-old-packages-legacy/src/algart/lib/legacy/*.aqs
/additional/legacy/algart-old-packages-legacy/classes
*.class
